
# 1. Build outputs

bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.vsidx


# 2. Publish folders

publish/


# 3. User-specific files (Visual Studio)

*.user
*.suo
*.userosscache
*.sln.docstates


# 4. Visual Studio / VS Code folders

.vs/
.vscode/


# 5. Logs, temp files

*.log
*.tmp


# 6. App settings (nhạy cảm)

# appsettings.json
# appsettings.*.json


# 7. OS & IDE junk

.DS_Store
Thumbs.db
